<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">NMAM INSTITUTE OF TECHNOLOGY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="">HOME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="course">COURSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="join">JOIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">ABOUT</a>
                </li>



            </ul>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!--Footer-->
<footer class="text-center">
    <p>&copy; education 2022. All rights reserved</p>
</footer>