.course{
    background-color: #eff6ff;
    padding: 50px 100px;
    background-image: url('../../assets/nitte.jpg');
    
}

.box{
    background-color: #ffffff;
    padding: 10px 20px;
}

.box img{
    width: 50%;
    height: 50%;
}

.text-center{
    color: #eff6ff;
}